* {
  padding: 0;
  box-sizing: border-box;
}

body {
  /* position: relative; */
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  /* margin-right: 45%; */
  margin: p0x;
}

/* Khối nội dung được căn giữa v�? có kích thước c�? định 825px. */
.main-content {
  position: relative;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  /* width: 825px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
/* Thẻ h2 có thêm khoảng đệm 15px theo cả 4 phía. */

.product-name h2 {
  text-align: center;
  background-color: rgb(224 224, 224);
  font-size: 28px;
  margin-top: 2px;
  padding: 15px;
  margin-bottom: 2px;
}

.product-price {
  font-size: 20px;
}

/* Tiêu đ�? phụ h3 có thêm khoảng trắng phía trên 30px. */
.product-details h3 {
  font-size: 23px;
  /* margin-top: 30px; */
}

/* Chữ FREE SHIPPING có thêm khoảng trắng phía dưới 20px. */
.shaded-text {
  color: gray;
  text-transform: uppercase;
  margin-bottom: 20px;
}

a:link {
  color: black;
}

a:hover {
  text-decoration: none;
}
/* Danh sách ul �? li có thêm khoảng trắng bên trái 20px, các li cách nhau khoảng 10px. */

.list {
  list-style-type: square;
  margin-left: 20px;
}
.list li {
  margin-bottom: 10px;
}

/* - Button có thêm khoảng đệm 15px theo cả 4 phía, thêm phần viền phía trên với nét liền m�?u đen. */
.add-to-cart {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 15px;
  border-top: 4px solid black;
  width: 100%;
}
.add-to-cart:hover {
  background-color: white;
  color: black;
}

.sale {
  background-color: red;
  border: 0;
  color: white;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -12px;
  left: -20px;
}

ul.color li {
  list-style-type: none;
  padding: 10px;
}

/* ul.color-box li {
  padding-left: 15px;
  margin-left: 10px;
  /* display: inline;
} */

li.black {
  background-color: black;
}

li.blue {
  background-color: blue;
}

li.red {
  background-color: red;
}

li.yellow {
  background-color: yellow;
}
li.green {
  background-color: yellowgreen;
}

li.brown {
  background-color: brown;
}
/* ================================================= */

.product-details h3 {
  margin-top: 0px;
}
/* .product-info {
  width: 243px;
  margin-top: 0px;
  margin-right: px;
} */

/* .product-img {
  /* margin-right: 40px; 
  margin-top: 0;
} */

.comment {
  /* background-color: chartreuse; */
  margin-bottom: 10px;
  text-align: justify;
}
/* .comment p {
  text-justify: inter-word;
} */
/* ===============================================
.container {
  box-sizing: border-box;
  float: left;
}

.left {
  float: left;
  width: 200px;
}

.product-price {
  float: left;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}
.shaded-text {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}
.clearfix-2::after {
  content: "";
  display: block;
  clear: both;
}

.right {
  float: right;
  margin-right: 0px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
} */
/* ============================================== */

/* .container {
  /* background-color: blueviolet;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  height: 100%px;
  flex: wrap;
} */
/*
.product-info {
  /* 
  DeFAULtS:
  flex-grow:0;
  flex-shrink:1;
  flex-basis:auto 

  margin-top: 10px;
  flex: 1;
}
.product-details {
  margin-right: 5px;
  margin-top: 25px;
  align-self: start;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shaded-text {
  font-size: 20px;
}
*/

.color-box ul {
  display: flex;
  gap: 10px;
}

/* =====Grid=================== */

.container {
  display: grid;
  /*repeat(auto-fill, minmax(60px, 1fr));
When the container changes size, this setup keeps inserting 60px columns and stretching them until it can insert another one. Note: If your container can't fit all your items on one row, it will move them down to a new one.*/
  /* auto-fit works almost identically to auto-fill. The only difference is that when the container's size exceeds the size of all the items combined, auto-fill keeps inserting empty rows or columns and pushes your items to the side, while auto-fit collapses those empty rows or columns and stretches your items to fit the size of the container. */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  column-gap: 30px;
}

.product-img {
  /* background-color: blueviolet; */
  /* justify-self: end; */
}

.product-info {
  /* background-color: royalblue; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

.product-price {
  /* position: rel-ative; */
  /* grid-area: horizontal line to start at / vertical line to start at / horizontal line to end at / vertical line to end at; */
  /* grid-area: 1/1/2/-1; */
  display: grid;
  /* display: inline-block; */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  grid-template-columns: auto 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  /* grid-template-rows: 1fr 1fr; */
  /* justify-items: center; */
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(20px, 1fr)); */
  /* justify-content: end; */
  /* align-content: space-between;
  align-content: end; */
  /* justify-content: end; */
}
.shipping {
  /* justify-self: end; */
  /* left: 200px; */
  /* justify-self: end; */
}
.price {
  /* width: 20px; */
  width: fit-content;
}
.product-details {
  /* background-color: yellowgreen; */
}
